## 파일 경로

In [1]:
dir_path = "../csv_data/"
file_path = ['GDP(분기별)_00-24.csv', '실업률(월별)_99-24.csv', '경제성장률(분기별)_47-24.csv',
                 '원달러_환율(월별)_64-24.csv', '국제_에너지_원자제가격(월별)_90-24.csv', '은행대출금 연체율(월별)_02-24.csv',
                 '미국_Fed_기준금리(월별)_54-24.csv', '주택매매가격지수(월별)03-24.csv', '생산자물가지수(월별)_65-24.csv',
                 '통화량(월별)86-24_07110442.csv', '소비자물가지수(월별)65-24.csv', '한국은행 기준금리(월별)_99-24.csv'] 
print(dir_path+file_path[0])

../csv_data/GDP(분기별)_00-24.csv

In [2]:
import os

# 해당 위취에 존재하는 파일들을 리스트로 반환하는 함수
def get_file_list(directory):
    file_list = []

    # 디렉터리 내의 모든 항목에 대해 반복합니다.
    for item in os.listdir(directory):
        # 전체 경로를 생성합니다.
        item_path = os.path.join(directory, item)

        # 파일인 경우에만 리스트에 추가합니다.
        if os.path.isfile(item_path):
            file_list.append(item)

    return file_list

file_path = get_file_list(dir_path)
print(file_path)

['GDP(분기별)_00-24.csv', '경제성장률(분기별)_47-24.csv', '국제_에너지_원자제가격(월별)_90-24.csv', '미국_Fed_기준금리(월별)_54-24.csv', '생산자물가지수(월별)_65-24.csv', '소비자물가지수(월별)_65-24.csv', '실업률(월별)_99-24.csv', '원달러_환율(월별)_64-24.csv', '은행대출금 연체율(월별)_02-24.csv', '주택매매가격지수(월별)_03-24.csv', '통화량(월별)_86-24_.csv', '한국은행 기준금리(월별)_99-24.csv']

### GDP데이터 변환
    - 결측치 처리: 맨 처음 데이터는 전기대비증가량 존재 X
        -체우기: 앞의 값으로 체운다.
        -삭제: 24.3,4분기 데이터 미발표로 인한 삭제

In [3]:
import pandas as pd
df = pd.read_csv(dir_path+file_path[0])
print(file_path[0],"\n")
print("데이터 프레임 구조:", df.shape,"\n")
print(df.head())
print("\n데이터 정보 :\n")
print(df.info())
print("\nNan 값 존재 데이터")
print(df[df.isnull().any(axis=1)])

GDP(분기별)_00-24.csv

데이터 프레임 구조: (100, 4)

        변환        원자료   전기대비증감  전기대비증감률
0  2000/Q1  164,844.8      NaN      NaN
1  2000/Q2  166,144.7  1,299.9      0.8
2  2000/Q3  171,511.6  5,366.9      3.2
3  2000/Q4  173,231.4  1,719.8      1.0
4  2001/Q1  178,437.2  5,205.8      3.0

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       100 non-null    object
 1   원자료      98 non-null     object
 2   전기대비증감   97 non-null     object
 3   전기대비증감률  97 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None

Nan 값 존재 데이터
         변환        원자료 전기대비증감  전기대비증감률
0   2000/Q1  164,844.8    NaN      NaN
98  2024/Q3        NaN    NaN      NaN
99  2024/Q4        NaN    NaN      NaN

In [4]:
import os

# 앞 값으로 대체
df.fillna(method='Bfill', inplace=True)

#24년 3,4 제거
df.dropna(how="any", inplace=True)
print(df[df.isnull().any(axis=1)])

# new_data_path = "../new_csv/new_"+file_path[0]

# data_path_os = os.path.dirname(new_data_path)
# if not os.path.exists(data_path_os):
#     os.makedirs(data_path_os)


# 데이터 저장
# df.to_csv("../new_csv/new_"+file_path[0])
def save_csv(file_path : str, df : pd.DataFrame, ):
    new_data_path = "../new_csv/new_"+file_path
    
    data_path_os = os.path.dirname(new_data_path)
    if not os.path.exists(data_path_os):
        os.makedirs(data_path_os)

    
    # 데이터 저장
    df.to_csv("../new_csv/new_"+file_path)


save_csv(file_path= file_path[0], df = df)

Empty DataFrame
Columns: [변환, 원자료, 전기대비증감, 전기대비증감률]
Index: []

C:\Users\HYUK\AppData\Local\Temp\ipykernel_30972\2658131215.py:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='Bfill', inplace=True)

In [5]:
for i in range(len(file_path)):
    df = pd.read_csv(dir_path+file_path[i])
    print(file_path[i],"\n")
    print("데이터 프레임 구조:", df.shape,"\n")
    print(df.head())
    print("\n데이터 정보 :\n")
    print(df.info())
    print("\nNan 값 존재 데이터")
    print(df[df.isnull().any(axis=1)])

GDP(분기별)_00-24.csv

데이터 프레임 구조: (100, 4)

        변환        원자료   전기대비증감  전기대비증감률
0  2000/Q1  164,844.8      NaN      NaN
1  2000/Q2  166,144.7  1,299.9      0.8
2  2000/Q3  171,511.6  5,366.9      3.2
3  2000/Q4  173,231.4  1,719.8      1.0
4  2001/Q1  178,437.2  5,205.8      3.0

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       100 non-null    object
 1   원자료      98 non-null     object
 2   전기대비증감   97 non-null     object
 3   전기대비증감률  97 non-null     float64
dtypes: float64(1), object(3)
memory usage: 3.3+ KB
None

Nan 값 존재 데이터
         변환        원자료 전기대비증감  전기대비증감률
0   2000/Q1  164,844.8    NaN      NaN
98  2024/Q3        NaN    NaN      NaN
99  2024/Q4        NaN    NaN      NaN
경제성장률(분기별)_47-24.csv

데이터 프레임 구조: (312, 2)

        변환  원자료
0  1947/Q1  NaN
1  1947/Q2  NaN
2  1947/Q3  NaN
3  1947/Q4  NaN
4  1948/Q1  NaN

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   변환      312 non-null    object
 1   원자료     258 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB
None

Nan 값 존재 데이터
          변환  원자료
0    1947/Q1  NaN
1    1947/Q2  NaN
2    1947/Q3  NaN
3    1947/Q4  NaN
4    1948/Q1  NaN
5    1948/Q2  NaN
6    1948/Q3  NaN
7    1948/Q4  NaN
8    1949/Q1  NaN
9    1949/Q2  NaN
10   1949/Q3  NaN
11   1949/Q4  NaN
12   1950/Q1  NaN
13   1950/Q2  NaN
14   1950/Q3  NaN
15   1950/Q4  NaN
16   1951/Q1  NaN
17   1951/Q2  NaN
18   1951/Q3  NaN
19   1951/Q4  NaN
20   1952/Q1  NaN
21   1952/Q2  NaN
22   1952/Q3  NaN
23   1952/Q4  NaN
24   1953/Q1  NaN
25   1953/Q2  NaN
26   1953/Q3  NaN
27   1953/Q4  NaN
28   1954/Q1  NaN
29   1954/Q2  NaN
30   1954/Q3  NaN
31   1954/Q4  NaN
32   1955/Q1  NaN
33   1955/Q2  NaN
34   1955/Q3  NaN
35   1955/Q4  NaN
36   1956/Q1  NaN
37   1956/Q2  NaN
38   1956/Q3  NaN
39   1956/Q4  NaN
40   1957/Q1  NaN
41   1957/Q2  NaN
42   1957/Q3  NaN
43   1957/Q4  NaN
44   1958/Q1  NaN
45   1958/Q2  NaN
46   1958/Q3  NaN
47   1958/Q4  NaN
48   1959/Q1  NaN
49   1959/Q2  NaN
50   1959/Q3  NaN
51   1959/Q4  NaN
52   1960/Q1  NaN
311  2024/Q4  NaN
국제_에너지_원자제가격(월별)_90-24.csv

데이터 프레임 구조: (417, 7)

        변환  원자료  원자료.1  원자료.2  원자료.3  원자료.4  원자료.5
0  1990/01  NaN  22.60  17.50  20.99    NaN   38.0
1  1990/02  NaN  22.20  16.68  19.70    NaN   38.0
2  1990/03  NaN  20.44  15.76  18.47    NaN   38.0
3  1990/04  NaN  18.53  14.25  16.93    NaN   38.0
4  1990/05  NaN  18.44  14.65  16.67    NaN   40.5

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 417 entries, 0 to 416
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   변환      417 non-null    object
 1   원자료     0 non-null      float64
 2   원자료.1   417 non-null    float64
 3   원자료.2   417 non-null    float64
 4   원자료.3   417 non-null    float64
 5   원자료.4   405 non-null    float64
 6   원자료.5   417 non-null    float64
dtypes: float64(6), object(1)
memory usage: 22.9+ KB
None

Nan 값 존재 데이터
          변환  원자료  원자료.1  원자료.2  원자료.3  원자료.4   원자료.5
0    1990/01  NaN  22.60  17.50  20.99    NaN   38.00
1    1990/02  NaN  22.20  16.68  19.70    NaN   38.00
2    1990/03  NaN  20.44  15.76  18.47    NaN   38.00
3    1990/04  NaN  18.53  14.25  16.93    NaN   38.00
4    1990/05  NaN  18.44  14.65  16.67    NaN   40.50
..       ...  ...    ...    ...    ...    ...     ...
412  2024/05  NaN  79.96  84.67  83.05   2.42  148.01
413  2024/06  NaN  79.91  84.11  82.92   2.82  143.51
414  2024/07  NaN  81.95  85.20  84.05   2.22  141.99
415  2024/08  NaN  76.68  80.09  79.02   2.10  151.64
416  2024/09  NaN  70.44  73.76  73.06   2.40  148.74

[417 rows x 7 columns]
미국_Fed_기준금리(월별)_54-24.csv

데이터 프레임 구조: (843, 4)

        변환   원자료  전기대비증감 전기대비증감률
0  1954/07  0.25     NaN     NaN
1  1954/08  1.44    1.19   476.0
2  1954/09  1.44    0.00     0.0
3  1954/10  1.13   -0.31   -21.5
4  1954/11  1.38    0.25    22.1

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 843 entries, 0 to 842
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       843 non-null    object
 1   원자료      843 non-null    float64
 2   전기대비증감   842 non-null    float64
 3   전기대비증감률  842 non-null    object
dtypes: float64(2), object(2)
memory usage: 26.5+ KB
None

Nan 값 존재 데이터
        변환   원자료  전기대비증감 전기대비증감률
0  1954/07  0.25     NaN     NaN
생산자물가지수(월별)_65-24.csv

데이터 프레임 구조: (717, 4)

        변환   원자료  전기대비증감  전기대비증감률
0  1965/01  4.88     NaN      NaN
1  1965/02  4.92    0.04      0.8
2  1965/03  4.88   -0.04     -0.8
3  1965/04  4.88    0.00      0.0
4  1965/05  4.98    0.10      2.0

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       717 non-null    object
 1   원자료      717 non-null    float64
 2   전기대비증감   716 non-null    float64
 3   전기대비증감률  716 non-null    float64
dtypes: float64(3), object(1)
memory usage: 22.5+ KB
None

Nan 값 존재 데이터
        변환   원자료  전기대비증감  전기대비증감률
0  1965/01  4.88     NaN      NaN
소비자물가지수(월별)_65-24.csv

데이터 프레임 구조: (718, 4)

        변환    원자료  전기대비증감  전기대비증감률
0  1965/01  2.493     NaN      NaN
1  1965/02  2.548   0.055      2.2
2  1965/03  2.553   0.005      0.2
3  1965/04  2.593   0.040      1.6
4  1965/05  2.645   0.052      2.0

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 718 entries, 0 to 717
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       718 non-null    object
 1   원자료      718 non-null    float64
 2   전기대비증감   717 non-null    float64
 3   전기대비증감률  717 non-null    float64
dtypes: float64(3), object(1)
memory usage: 22.6+ KB
None

Nan 값 존재 데이터
        변환    원자료  전기대비증감  전기대비증감률
0  1965/01  2.493     NaN      NaN
실업률(월별)_99-24.csv

데이터 프레임 구조: (304, 3)

        변환  원자료  원자료.1
0  1999/06  6.7    7.3
1  1999/07  6.7    7.0
2  1999/08  6.2    6.4
3  1999/09  5.2    5.7
4  1999/10  5.0    5.5

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 304 entries, 0 to 303
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   변환      304 non-null    object
 1   원자료     304 non-null    float64
 2   원자료.1   304 non-null    float64
dtypes: float64(2), object(1)
memory usage: 7.3+ KB
None

Nan 값 존재 데이터
Empty DataFrame
Columns: [변환, 원자료, 원자료.1]
Index: []
원달러_환율(월별)_64-24.csv

데이터 프레임 구조: (726, 4)

        변환     원자료  전기대비증감  전기대비증감률
0  1964/05  255.77     NaN      NaN
1  1964/06  255.77     0.0      0.0
2  1964/07  255.77     0.0      0.0
3  1964/08  255.77     0.0      0.0
4  1964/09  255.77     0.0      0.0

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 726 entries, 0 to 725
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       726 non-null    object
 1   원자료      726 non-null    object
 2   전기대비증감   725 non-null    float64
 3   전기대비증감률  725 non-null    float64
dtypes: float64(2), object(2)
memory usage: 22.8+ KB
None

Nan 값 존재 데이터
        변환     원자료  전기대비증감  전기대비증감률
0  1964/05  255.77     NaN      NaN
은행대출금 연체율(월별)_02-24.csv

데이터 프레임 구조: (261, 19)

        변환  원자료  전기대비증감  원자료.1  전기대비증감.1  원자료.2  전기대비증감.2  원자료.3  전기대비증감.3  \
0  2002/12  1.8     NaN    2.0       NaN    1.4       NaN    1.5       NaN
1  2003/01  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
2  2003/02  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
3  2003/03  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
4  2003/04  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN

   원자료.4  전기대비증감.4  원자료.5  전기대비증감.5  원자료.6  전기대비증감.6  원자료.7  전기대비증감.7  원자료.8  \
0    1.5       NaN    1.5       NaN    8.5       NaN    8.6       NaN    8.3
1    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
2    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
3    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
4    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN

   전기대비증감.8
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 19 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   변환        261 non-null    object
 1   원자료       235 non-null    float64
 2   전기대비증감    231 non-null    float64
 3   원자료.1     235 non-null    float64
 4   전기대비증감.1  231 non-null    float64
 5   원자료.2     235 non-null    float64
 6   전기대비증감.2  231 non-null    float64
 7   원자료.3     235 non-null    float64
 8   전기대비증감.3  231 non-null    float64
 9   원자료.4     235 non-null    float64
 10  전기대비증감.4  231 non-null    float64
 11  원자료.5     235 non-null    float64
 12  전기대비증감.5  231 non-null    float64
 13  원자료.6     235 non-null    float64
 14  전기대비증감.6  231 non-null    float64
 15  원자료.7     235 non-null    float64
 16  전기대비증감.7  231 non-null    float64
 17  원자료.8     235 non-null    float64
 18  전기대비증감.8  231 non-null    float64
dtypes: float64(18), object(1)
memory usage: 38.9+ KB
None

Nan 값 존재 데이터
         변환  원자료  전기대비증감  원자료.1  전기대비증감.1  원자료.2  전기대비증감.2  원자료.3  전기대비증감.3  \
0   2002/12  1.8     NaN    2.0       NaN    1.4       NaN    1.5       NaN
1   2003/01  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
2   2003/02  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
3   2003/03  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
4   2003/04  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
5   2003/05  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
6   2003/06  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
7   2003/07  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
8   2003/08  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
9   2003/09  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
10  2003/10  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
11  2003/11  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
12  2003/12  1.9     NaN    2.1       NaN    1.5       NaN    1.8       NaN
13  2004/01  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
14  2004/02  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
15  2004/03  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
16  2004/04  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
17  2004/05  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
18  2004/06  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
19  2004/07  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
20  2004/08  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
21  2004/09  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
22  2004/10  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
23  2004/11  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
24  2004/12  1.8     NaN    2.1       NaN    1.4       NaN    1.7       NaN
25  2005/01  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
26  2005/02  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
27  2005/03  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
28  2005/04  NaN     NaN    NaN       NaN    NaN       NaN    NaN       NaN
29  2005/05  2.4     NaN    2.7       NaN    1.9       NaN    1.9       NaN

    원자료.4  전기대비증감.4  원자료.5  전기대비증감.5  원자료.6  전기대비증감.6  원자료.7  전기대비증감.7  원자료.8  \
0     1.5       NaN    1.5       NaN    8.5       NaN    8.6       NaN    8.3
1     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
2     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
3     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
4     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
5     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
6     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
7     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
8     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
9     NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
10    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
11    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
12    1.8       NaN    1.6       NaN    7.8       NaN    8.3       NaN    6.1
13    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
14    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
15    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
16    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
17    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
18    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
19    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
20    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
21    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
22    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
23    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
24    1.8       NaN    1.3       NaN    4.1       NaN    4.1       NaN    3.9
25    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
26    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
27    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
28    NaN       NaN    NaN       NaN    NaN       NaN    NaN       NaN    NaN
29    1.9       NaN    1.7       NaN    4.7       NaN    5.0       NaN    3.4

    전기대비증감.8
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
주택매매가격지수(월별)_03-24.csv

데이터 프레임 구조: (251, 4)

        변환   원자료  전기대비증감  전기대비증감률
0  2003/11  61.5     NaN      NaN
1  2003/12  61.0    -0.5     -0.8
2  2004/01  60.7    -0.3     -0.5
3  2004/02  60.7     0.0      0.0
4  2004/03  60.8     0.1      0.2

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251 entries, 0 to 250
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       251 non-null    object
 1   원자료      251 non-null    float64
 2   전기대비증감   250 non-null    float64
 3   전기대비증감률  250 non-null    float64
dtypes: float64(3), object(1)
memory usage: 8.0+ KB
None

Nan 값 존재 데이터
        변환   원자료  전기대비증감  전기대비증감률
0  2003/11  61.5     NaN      NaN
통화량(월별)_86-24_.csv

데이터 프레임 구조: (464, 4)

        변환       원자료   전기대비증감  전기대비증감률
0  1986/01  43,133.6      NaN      NaN
1  1986/02  43,492.4    358.8      0.8
2  1986/03  44,587.1  1,094.7      2.5
3  1986/04  45,188.7    601.6      1.3
4  1986/05  46,197.5  1,008.8      2.2

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       464 non-null    object
 1   원자료      464 non-null    object
 2   전기대비증감   463 non-null    object
 3   전기대비증감률  463 non-null    float64
dtypes: float64(1), object(3)
memory usage: 14.6+ KB
None

Nan 값 존재 데이터
        변환       원자료 전기대비증감  전기대비증감률
0  1986/01  43,133.6    NaN      NaN
한국은행 기준금리(월별)_99-24.csv

데이터 프레임 구조: (370, 4)

        변환  원자료  전기대비증감  전기대비증감률
0  1994/01  NaN     NaN      NaN
1  1994/02  NaN     NaN      NaN
2  1994/03  NaN     NaN      NaN
3  1994/04  NaN     NaN      NaN
4  1994/05  NaN     NaN      NaN

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   변환       370 non-null    object
 1   원자료      306 non-null    float64
 2   전기대비증감   305 non-null    float64
 3   전기대비증감률  305 non-null    float64
dtypes: float64(3), object(1)
memory usage: 11.7+ KB
None

Nan 값 존재 데이터
         변환   원자료  전기대비증감  전기대비증감률
0   1994/01   NaN     NaN      NaN
1   1994/02   NaN     NaN      NaN
2   1994/03   NaN     NaN      NaN
3   1994/04   NaN     NaN      NaN
4   1994/05   NaN     NaN      NaN
..      ...   ...     ...      ...
60  1999/01   NaN     NaN      NaN
61  1999/02   NaN     NaN      NaN
62  1999/03   NaN     NaN      NaN
63  1999/04   NaN     NaN      NaN
64  1999/05  4.75     NaN      NaN

[65 rows x 4 columns]

In [81]:
df.columns

Index(['변환', '원자료', '전기대비증감', '전기대비증감률'], dtype='object')

In [82]:
columns = df.columns
for j in range(1, len(columns)) :
            print(columns[j])

원자료
전기대비증감
전기대비증감률

### 경제성장률 데이터 변환
- Nan 값이 없다
- 컬럼 값이 이상
    - 원계열 : (실업자 수 / 경제활동인구) × 100
    - 계절조정: 실업률 데이터에서 방학 기간 동안의 아르바이트 증가와 같은 계절적 요인을 제거하여 순수 경기적 요인만 반영한 지표

In [19]:
import pandas as pd
df = pd.read_csv(dir_path+file_path[1])
print(file_path[1],"\n")
print("데이터 프레임 구조:", df.shape,"\n")
print(df.head())
print("\n데이터 정보 :\n")
print(df.info())
print("\nNan 값 존재 데이터")
print(df[df.isnull().any(axis=1)])

경제성장률(분기별)_47-24.csv

데이터 프레임 구조: (312, 2)

        변환  원자료
0  1947/Q1  NaN
1  1947/Q2  NaN
2  1947/Q3  NaN
3  1947/Q4  NaN
4  1948/Q1  NaN

데이터 정보 :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   변환      312 non-null    object
 1   원자료     258 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.0+ KB
None

Nan 값 존재 데이터
          변환  원자료
0    1947/Q1  NaN
1    1947/Q2  NaN
2    1947/Q3  NaN
3    1947/Q4  NaN
4    1948/Q1  NaN
5    1948/Q2  NaN
6    1948/Q3  NaN
7    1948/Q4  NaN
8    1949/Q1  NaN
9    1949/Q2  NaN
10   1949/Q3  NaN
11   1949/Q4  NaN
12   1950/Q1  NaN
13   1950/Q2  NaN
14   1950/Q3  NaN
15   1950/Q4  NaN
16   1951/Q1  NaN
17   1951/Q2  NaN
18   1951/Q3  NaN
19   1951/Q4  NaN
20   1952/Q1  NaN
21   1952/Q2  NaN
22   1952/Q3  NaN
23   1952/Q4  NaN
24   1953/Q1  NaN
25   1953/Q2  NaN
26   1953/Q3  NaN
27   1953/Q4  NaN
28   1954/Q1  NaN
29   1954/Q2  NaN
30   1954/Q3  NaN
31   1954/Q4  NaN
32   1955/Q1  NaN
33   1955/Q2  NaN
34   1955/Q3  NaN
35   1955/Q4  NaN
36   1956/Q1  NaN
37   1956/Q2  NaN
38   1956/Q3  NaN
39   1956/Q4  NaN
40   1957/Q1  NaN
41   1957/Q2  NaN
42   1957/Q3  NaN
43   1957/Q4  NaN
44   1958/Q1  NaN
45   1958/Q2  NaN
46   1958/Q3  NaN
47   1958/Q4  NaN
48   1959/Q1  NaN
49   1959/Q2  NaN
50   1959/Q3  NaN
51   1959/Q4  NaN
52   1960/Q1  NaN
311  2024/Q4  NaN

In [18]:
print(df.columns[2])
df_temp = df.rename(columns={df.columns[1]:'실업률(원계열)',
                             df.columns[2]:'실업률(계절조정)',})
df_temp

# save_csv(file_path= file_path[1], df = df_temp)

IndexError: index 2 is out of bounds for axis 0 with size 2

## 실업률